@model AdminViewModel

<h1>Search results:</h1>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>E-mail</th>
			<th>Username</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model.Users)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.Email</td>
				<td>@user.UserName</td>
			</tr>
		}
	</tbody>
</table>
<div>
	<a asp-action="Index">Back to List</a>
</div>
